# Global owner (commented out) in case we'd ever need that...
#*       @northwood-studios/translation-management

# Github folder changes goes by management
.github/ @northwood-studios/translation-management
/* @northwood-studios/translation-management


# English Checks done by Translation Mangement (Evan)
/Translations/English\ (default)/ @northwood-studios/translation-management
/Steam-Translations/Achievements/700330_loc_english.vdf @northwood-studios/translation-management
/Steam-Translations/Rich\ Presence/700330_loc_english.vdf @northwood-studios/translation-management


# Finnish by Foxeworks
/Translations/fi/ @Foxeworks
*finnish.vdf @Foxeworks

# French by MajorFox-MJ
/Translations/fr/ @MajorFox-MJ
*french.vdf @MajorFox-MJ

# German by Dat-Joseph
/Translations/de/ @Dat-Joseph @Red-Z
*german.vdf @Dat-Joseph @Red-Z

# Hungarian by omgiamhungarian
/Translations/hu/ @omgiamhungarian
*hungarian.vdf @omgiamhungarian

# Norwegian by Evan
/Translations/nb/ @Rnen
*norwegian.vdf @Rnen

# Polish by zabszk & Petris
Translations/pl/ @zabszk @MichalPetryka
*polish.vdf @zabszk @MichalPetryka

# Russian by GuyFawkes
/Translations/ru/ @GuyFawkes76
*russian.vdf @GuyFawkes76

# Spanish by N/A

# zh & zh-Hant by Tychus-Xiaoyi
/Translations/zh/ @Tychus-Xiaoyi
*schinese.vdf @Tychus-Xiaoyi
/Translations/zh-Hant/ @Tychus-Xiaoyi
*tchinese.vdf @Tychus-Xiaoyi
